@page
@model LockoutModel
@{
    ViewData["BookName"] = "Locked out";
}

<header>
    <h1 class="text-danger">@ViewData["BookName"]</h1>
    <p class="text-danger">This account has been locked out, please try again later.</p>
</header>
