@page
@model ResetPasswordConfirmationModel
@{
    ViewData["BookName"] = "Reset password confirmation";
}

<h1>@ViewData["BookName"]</h1>
<p>
    Your password has been reset. Please <a asp-page="./Login">click here to log in</a>.
</p>
